---
import { unified } from 'unified';
import remarkParse from 'remark-parse';
import remarkRehype from 'remark-rehype';
import rehypeStringify from 'rehype-stringify';

interface Props {
  content: string;
}

const { content } = Astro.props;

const html = await unified()
  .use(remarkParse)
  .use(remarkRehype)
  .use(rehypeStringify)
  .process(content);
---

<div dangerouslySetInnerHTML={html.toString()}></div>
